<%- include('head.ejs') %>
    <title>Editar</title>
</head>

<div class="container">
    <div class="row">
        <div class="col-4"> </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <form action="/editar/<%=cliente._id%>" method="post">
                    <label for=""> Nombre: </label> <input type="text" name="nombre" id="nombre" value="<%= cliente.nombre %>">
                        <label>Apellido:</label> <input type="text" name="apellido" id="apellido" value="<%= cliente.apellido %>">
                        <label>Numero de Cliente:</label>  <input type="number" name="numero_c" id="numero_c" value="<%= cliente.numero_c %>">
                        <label>Fecha de captura:</label> <input type="date" name="fecha" id="fecha" value="<%= cliente.fecha %>">
                        <input class="btn btn-primary" type="submit" value="Guardar">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>